<%= content_for :title do -%>
	gFace
<% end -%>

<div id="main_container" style="background-color: #eee; height: 640px;">
	<div id="id_card">
		<p style="font-size:50px;"><b><%= @user[:fname] + ' ' + @user[:lname] -%></b> <span style="font-size:25px;color:#777;"><%= @user[:email] -%></span></p>
		<div style="float:right;width:160px;height:160px;overflow:hidden;margin-top:15px">
		  <img src= <%= @user[:avatar_url]-%> style="width:100%;">
		</div>
		<ul style="font-size:30px;text-indent:20px;margin-top:20px">
		  <li style="border:none;line-height:45px;">Age: <%= @user[:age] -%></li>
		  <li style="border:none;line-height:45px;">Gender: <%= @user[:gender] -%></li>
		  <li style="border:none;color:#52a693;line-height:45px;"><%= @user[:from]-%></li>
		</ul>
	</div>
</div>
