<!DOCTYPE html>
<html>
<head>
  <meta http-equiv=Content-Type content="text/html;charset=utf-8">
  <title><%= yield :title -%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="header_container">
			<p id="logo">gFace</p>
			<p id="contact_us"><a href="mailto:mahao.info">me@mahao.info</a>
		</div>
	</div>
	<div id="main">
		<%= yield %>
	</div>
	<div id="footer">
		<div id="footer_container">
			<p>2014 hackathon, all rights reserved</p>
			<p>Construct by: Hao Ma(Team Leader), Zekun Li, Chao Xin, Pan Gu(Developer)</p>
		</div>
	</div>
</body>
</html>
